<!DOCTYPE html>
<html>
<head>
  <title>Willmaryellowbikes</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <base href="/" />
</head>
<body ng-app='willmaryellowbikes'>
  <header>
    <a ui-sref='home'><b>Willmar Yellow Bikes</b></a>
    <hr />
  </header>

  <%= yield %>

  <hr />
  <footer>
    -- Hack2o --
  </footer>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js" %>
  <%= javascript_include_tag 'application' %>


</body>
</html>
