<!DOCTYPE html>
<html>
<head>
  <title>Willmaryellowbikes</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <base href="/" />
</head>
<body ng-app='willmaryellowbikes'>
  <header>
    <a ui-sref='home'>
      <%= image_tag "header_w_logo", class: 'img-responsive' %>
    </a>
  </header>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <hr />
  <footer class='text-center'>
    <div class="row">
      <div class='col-sm-6'>
        <div class='row'>
          <div class='col-xs-6'><a ui-sref="home">HOME</a></div>
          <div class='col-xs-6'><a href="http://www.willmar.k12.mn.us/Domain/780">ABOUT THE PROGRAM</a></div>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class='row'>
          <div class='col-xs-6'><a href="http://www.willmar.k12.mn.us/Page/3656">YELLOW BIKE LOCATIONS</a></div>
          <div class='col-xs-6'><a href="http://www.willmar.k12.mn.us/Page/3670">SPONSORS</a></div>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center">
      -- Hack2o --
    </div>
  </footer>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js" %>
  <%= javascript_include_tag 'application' %>


</body>
</html>
